body{
    /* font-family: 'Lora', serif; */
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
}
.flex-item{
    width: 40%;
}
.picture{
    width: 100%;
}
.markedText{
    color: brown;
}
.heading{
    font-weight: 700;
    font-size: 50px;
    border-left: 5px solid brown;
    box-shadow: 10px 10px 10px gray;
    margin-top: 20%;
}
.paragraph{
    text-align: justify;
    margin-bottom: 5%;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(135deg, red, yellow);
    border-radius: 5%;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}
#scroller{
    margin-top: 5%;
}
.textCenter{
    text-align: center;
}
.item{
    width: 28%;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;
    text-decoration: none;
    color: black;
}
.missionImg{
    width: 50%;
    
    
    
}
.mission{
    background-color: rgb(115, 139, 185);
    
}
.vission{
    background-color: rgb(133, 214, 133);
}
.goals{
    background-color: rgb(226, 178, 186);
}
.secondHeading{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
/* .bgImg{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
} */
.newLine{
    display: block;
}
.subHeading{
    font-weight: 700;
    font-size: 40px;
}
.imageItem{
    width: 35%;
    
}
.textItem{
    width: 55%;
    
}
.horizontal{
    border-top: 1px dotted gray;
    margin: 50px 0;
}
.margin{
    margin: 50px 0;
}
.input{
    display: block;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    width: 100%;
    margin: 10px 0;
}
.form{
    
    width: 40%;
    padding: 5%;
}
@media all and (max-width: 768px) {
    .flex-item{
        width: 95%;
    }
    .item{
        width: 90%;
    }
    .form{
        width: 100%;
    }
    .input{
        width: 90%;
    }
}
.formLeft{
    background-image: linear-gradient(45deg, purple, pink);

}
.formRight{
    background-color: honeydew;
}
.icon{
    padding: 15px;
    border-radius: 50%;
    background-color: bisque;
    border: 1px solid black;
    margin-right: 10px;
}
.textMuted{
    color: grey;
}
footer{
    background-color: black;
    padding: 2%;
    color: white;
    margin-top: 5%;
}
#redText{
    color: red;
}

