/* jei input element gulor required attribute thakbe tader label er pore * add kore dibo */
/* step1:get the input element which has a required element 
step2: oi input er id value jei label er shei label ta nobo 
step3:label er after e * add korbo */
input[required] + label::after {
    content: "*";
    font-weight: bold;
    

}
div{
    display: flex;
}
div label{
    order: 1;
}
div input{
    order:2;
}