.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr) 1em;
    grid-gap: 1em;
}
.date, .day{
    background-color: gray;
    
    height: 60px;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 5%;
    /* box-shadow: 5px 5px gray; */
}
.day{
    background-color: lightgray;}
.anotherMonth{
    background-color: lightgray;
}
    
